<ng-container *ngFor="let forecast of weatherData">
  <mat-card class="weather-card">
    <div class="weather-main">
      <div class="weather-header">
        <h2>{{ forecast.name }}, {{ forecast.country }}</h2>
        <div class="weather-info">
          <img
            [src]="`https://openweathermap.org/img/wn/${forecast.weather[0].icon}@2x.png`"
            alt="Ícone clima"
            class="weather-icon"
          />
          <div>
            <div class="temperature">{{ forecast.main.temp }} °C</div>
            <div class="feels-like">
              Sensação térmica: {{ forecast.main.feels_like }} °C
            </div>
            <div class="description">{{ forecast.weather[0].description }}</div>
          </div>
        </div>
      </div>

      <div class="weather-details">
        <div class="weather-extra">
          <div>Umidade: {{ forecast.main.humidity }}%</div>
          <div>Vento: {{ forecast.wind.speed }} m/s</div>
        </div>

        <div class="actions">
          <a [hidden]="!isRemove" routerLink="#"> <mat-icon>delete</mat-icon></a>
          <a [hidden]="isRemove" routerLink="/favorites"
            ><mat-icon (click)="favorites(forecast)">favorite</mat-icon></a>
          <mat-icon>align_justify_center</mat-icon>
          <a [routerLink]="['/details/lat/', forecast.coord.lat, 'lon', forecast.coord.lon]"><mat-icon>edit</mat-icon></a>
        </div>
      </div>
    </div>
  </mat-card>
</ng-container>
