<div class="forecast-detail-container">
  <mat-card *ngFor="let day of weatherDetailsData" class="forecast-day-card">
    <div class="day-header">{{ day.dt_Txt }}</div>

    <div class="info">
      <img [src]="`https://openweathermap.org/img/wn/${day.weather[0].icon}@2x.png`" class="icon" alt="Ícone do clima">
      <div class="temp">
        <div><strong>{{ day.main.temp }}°C</strong></div>
        <div>Sensação: {{ day.main.feels_like }}°C</div>
      </div>
    </div>

    <div class="description">{{ day.weather[0].description }}</div>

    <div class="stats">
      <span>Umidade: {{ day.main.humidity }}%</span>
      <span>Vento: {{ day.wind.speed }} m/s</span>
    </div>
  </mat-card>
</div>
