<mat-form-field appearance="outline" floatLabel="always" class="form-field">
  <input
    type="text"
    matInput
    placeholder="São Paulo"
    [formControl]="searchControl"
    [matAutocomplete]="auto" />

  <button
    *ngIf="searchControl.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchControl.setValue('')">
    <mat-icon>close</mat-icon>
  </button>

  <button matSuffix mat-icon-button aria-label="Search">
    <mat-icon>search</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelect($event.option.value)">
    <mat-option *ngFor="let city of filteredCities$ | async" [value]="city">
      {{ city.name }} - {{ city.state ?? '' }} - {{ city.country }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
